@font-face {
    font-family: "Urbanist-Medium";
    src: url('./fonts/Urbanist-Medium.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Urbanist-Bold";
    src: url('./fonts/Urbanist-Bold.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: "Urbanist-ExtraBold";
    src: url('./fonts/Urbanist-ExtraBold.ttf') format('truetype');
    font-weight: 900;
}
