* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    max-width: 1300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #141414;
    background-image: url('../assets/background.svg');
    background-repeat: repeat-x;
    background-size: auto;
    background-position: auto center;

    font-family: 'Urbanist-ExtraBold', sans-serif;
    color: #ffffff;

    animation: backgroundAnimation 5s linear infinite;
}

@keyframes backgroundAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}


a {
  text-decoration: none;
  color: #ffffff;
}